.SearchBar {
  border: 1px solid rgb(var(--gray-800));
  padding: 4px 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SearchBar input {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: rgb(var(--gray-1000));
  background-color: transparent;
}

.SearchBar--offline {
  background-color: rgb(var(--gray-100));
  border-color: rgb(var(--gray-200));
  color: rgb(var(--gray-500));
}
