.Header {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  gap: 20px;
}

.Header .Header__offlineButton {
  color: rgb(var(--gray-500));
}

.Header .Header__offlineButton.Header__offlineButton--offline {
  color: rgb(var(--gray-900));
}
