.Header {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  gap: 20px;
  flex-wrap: wrap;
}

.Header .Header__logo {
  width: 80px;
}

.Header .Header__offlineButton {
  color: rgb(var(--gray-500));
}

.Header .Header__offlineButton.Header__offlineButton--offline {
  color: rgb(var(--orange-800));
}

@media screen and (width <= 640px) {
  .Header {
    padding: 20px 10px;
    gap: 10px;
  }

  .Header .Header__logo {
    width: 60px;
  }
}
